.root {
  width: 75%;
  margin: 0.5em 0;
  font-size: 0.8em;
}

.messages {
  border-radius: 0.75em;
  padding: 1em;
}

.sent {
  margin-left: auto;
  text-align: right;
}

.sent .messages {
  background-color: #f0e6ea;
}

.received .messages {
  background-color: #ececec;
}

.timestamp {
  font-size: 0.7em;
}
