.root {
  padding: 2em;
  height: 100%;
  position: relative;
}

.content {
  display: flex;
}

.content > div + div {
  margin-left: 2em;
}

.content dl {
  margin: 0;
  padding: 0;
}

.panel {
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 4px #FB247D solid;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(200,200,200,0.1);
}

.column {
  height: 100%;
  overflow: scroll;
}

.picture {
  width: 175px;
}

.rows {
  display: flex;
  flex-direction: column;
}

.rows > .panel + .panel {
  margin-top: 1em;
}

.controls {
  display: inline-block;
  margin-left: 10px;
}

.controls > svg {
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.formatted {
  text-align: center;
}

.textarea {
  font-family: 'Lato';
  font-size: 1em;
  border-color: #e2e2e2;
  width: 30em;
  height: 15em;
  text-align: center;
}

.dt {
  margin: 1.5em 0 0.7em;
}

.primary {
  padding: 10px;
  color: white;
  display: inline-block;
}
