.enter, .appear {
  opacity: 0;
}

.enterActive, .appearActive {
  opacity: 1;
}

.appearActive {
  transition: all 2s ease-in-out;
}

.enterActive {
  transition: all 1s ease-in-out;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0;
  transition: all 1s ease-in-out;
}
