.root {
  margin: 2em;
}

.content {
  display: flex;
}

.content > div + div {
  margin-left: 2em;
}

.content dl {
  margin: 0;
  padding: 0;
}

.panel {
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 4px #FB247D solid;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(200,200,200,0.1);
}

.column {
  height: 100%;
  overflow: scroll;
}

.picture {
  width: 175px;
}

.rows {
  display: flex;
  flex-direction: column;
}

.rows > .panel + .panel {
  margin-top: 1em;
}
