.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.openLive {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 31px;
  height: 26px;
  cursor: pointer;
  fill: black;
}

.closeLive {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 20px;
  cursor: pointer;
  fill: white;
  z-index: 12;
}
