.root {
  height: 100%;
  @import url(https://fonts.googleapis.com/css?family=Lato:300);
  font-family: 'Lato', sans-serif;
}

.counter {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #d8d6d6;
  margin: 6px;
}
